<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/headnav.css">
    <link rel="stylesheet" href="css/about_us.css">
</head>
<body>
    <div class="headnav" id="sidebyside">
        <div class="header">
            <div style="width: 150px; height: 150px; background-color: grey; border-radius: 100px;"></div>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="recommended_sale.html">RECOMMENDED SALE</a></li>
                    <li><a href="marketing_topic.html">MARKETING TOPIC</a></li>
                    <li><a href="ai_text.html">AI TEXT</a></li>
                    <li><a href="about_us.html">ABOUT US</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="sidebyside">
        <div class="information">
            <h2>OUR TEAM</h2>
            <div class="members_detail">
                <div id="alignment">
                    <div id="profpic">
                        <img src="img/amos.png" alt="Big Head Pic of Amos Chow">
                    </div>
                    <div id="details">
                        Name: Amos Chow Li Kuang <br>
                        Student ID: <br>
                        E-mail: 
                    </div>
                </div>
                <div id="alignment">
                    <div id="profpic">
                        <img src="img/cheren.jpg" alt="Big Head Pic of Cher En">
                    </div>
                    <div id="details">
                        Name: Yap Cher En <br>
                        Student ID: 20WMR12045<br>
                        E-mail: yapce-wp19@student.tarc.edu.my
                    </div>
                </div>
                <div id="alignment">
                    <div id="profpic">
                        <img src="img/mingann.png" alt="Big Head Pic of Ming Ann">
                    </div>
                    <div id="details">
                        Name: Teh Ming Ann <br>
                        Student ID: <br>
                        E-mail:    
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>COPYRIGHT &copy; 2023 YAP CHER EN. ALL RIGHTS RESERVED</p>
        </div>
    </div>
    
</body>
</html>